{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    {% import 'macro/breadcrumbs.html.twig' as breadcrumbs %}
    {{ breadcrumbs.create({
        0: { 'name': 'Kokpit', 'path': path('app_home') },
        1: { 'name': 'Kategorie Olx', 'path': null }
    }) }}
{% endblock %}

{% block body %}
<div class="container-fluid g-0">

    <div class="d-flex flex-wrap justify-content-between">
        <h1 class="text-gold">
            Kategorie Olx
        </h1>
        <div class="d-none d-sm-block">
            <a href="{{ path('rest_api_olx_category_delete_all') }}" class="btn btn-outline-danger" role="button">
                Usuń kategorie i atrybuty
            </a>
        </div>
    </div>

    <div class="d-flex d-sm-none justify-content-end mb-4">
        <a href="{{ path('rest_api_olx_category_delete_all') }}" class="btn btn-outline-danger" role="button">
            Usuń kategorie i atrybuty
        </a>
    </div>

    <div class="mb-5">
        Wybierz konto za pomocą którego pobierzesz kategorie z atrybutami Olx.
    </div>

    {{ form_start(downloadOlxCategoryForm) }}

    <div class="row mb-4">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="yss-form-label-container">
                {{ form_widget(downloadOlxCategoryForm.olxAccountList) }}
            </div>
        </div>
    </div>

    <h5 class="mb-4">
        Kategorie
    </h5>

    <div class="row mb-4">
        <div class="col mb-4">
            {{ form_widget(downloadOlxCategoryForm.downloadCategoriesSubmit) }}
        </div>
    </div>

    <h5 class="mb-4">
        Atrybuty kategorii
    </h5>

    <div class="row mb-4">
        <div class="col mb-4">
            {{ form_widget(downloadOlxCategoryForm.downloadCategoryAttributesSubmit) }}
        </div>
    </div>

    {{ form_end(downloadOlxCategoryForm) }}

</div>
{% endblock %}
