form {
    margin: 0;
    padding: 0;
}

.form-control:focus,
.form-control:active:focus {
    box-shadow: 0 0 0 .25rem rgba(230, 184, 0, .5);
}

.yss-form-label-container {
    position: relative;
    margin-top: 13px;
}
.yss-form-label {
    position: absolute;
    z-index: 100;
    top: -13px;
    left: 8px;
    font-size: 0.875rem;
    background-color: #FFFFFF;
    padding: 0 7px;
}
legend.yss-form-label {
    width: auto;
}

.form-checkbox-padding-top {
    padding-top: 1.1rem;
}

.btn-outline-gold {
    color: #e6b800;
    border-color: #e6b800;
}

.btn-outline-gold:hover {
    color: #ffffff;
    background-color: #e6b800;
    border-color: #e6b800;
}

.btn-check:focus + .btn-outline-gold,
.btn-outline-gold:focus {
    box-shadow: 0 0 0 .25rem rgba(230, 184, 0, .5);
}

.btn-check:active + .btn-outline-gold,
.btn-check:checked + .btn-outline-gold,
.btn-outline-gold.active,
.btn-outline-gold.dropdown-toggle.show,
.btn-outline-gold:active {
    color: #fff;
    background-color: #e6b800;
    border-color: #e6b800;
}

.btn-check:active + .btn-outline-gold:focus,
.btn-check:checked + .btn-outline-gold:focus,
.btn-outline-gold.active:focus,
.btn-outline-gold.dropdown-toggle.show:focus,
.btn-outline-gold:active:focus {
    box-shadow: 0 0 0 .25rem rgba(230, 184, 0, .5);
}

@media screen and (max-width: 767px) {
    .yss-form-label-container {
        margin-top: 12px;
    }
    .yss-form-label {
        top: -12px;
    }
}

@media screen and (max-width: 575px) {
    .yss-form-label-container {
        margin-top: 11px;
    }
    .yss-form-label {
        top: -11px;
    }
}
