body {
    font-family: 'Ubuntu', sans-serif;

    display: flex;
    justify-content: center;

    margin: 0;
    padding: 5.2rem  2rem 6rem;

    background-color: #ffffff;
}

.text-gold {
    color: #e6b800;
}
.text-light-blue {
    color: #1ab2ff;
}
.text-purple {
    color: #cc66ff;
}
.text-pink {
    color: #ff3399;
}

a.link:link,
a.link:visited,
a.link:hover,
a.link:active {
    color: #e6b800;
    text-decoration: none;
}

.max-w1400 {
    max-width: 1400px;
}

@media screen and (min-width: 767px) {
    :root {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    :root {
        font-size: 15px;
    }
}

@media screen and (max-width: 575px) {
    :root {
        font-size: 14px;
    }

    body {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

h1 {
    font-size: 2rem;
    padding: 0 0 1.8rem;
    margin: 0;
}
.h1-icon {
    color: #495057;
}
