<ul class="navbar-nav w-100 flex-column">

    {% set pathName = 'app_home' %}
    <li class="nav-item">
        <a class="nav-link{% if currentPathName == pathName %} active{% endif %}"
           href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
            <i class="bi bi-house-fill"></i> Home
        </a>
    </li>

    {# Configuration Items #}
    {% set pathNames = [] %}
    <li class="nav-item">
        <a class="nav-link{% if currentPathName in pathNames %} active{% endif %}"
           href="#mobileConfiguration" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="mobileConfiguration">
            <i class="bi bi-gear-fill"></i> Konfiguracja <i class="bi bi-caret-down-fill"></i>
        </a>
        <ul class="collapse flex-column" id="mobileConfiguration">

            {% set pathName = 'list_users' %}
            <li class="nav-item">
                <a class="nav-link{% if currentPathName == pathName %} active{% endif %}"
                   href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
                    <i class="bi bi-people-fill"></i> Użytkownicy
                </a>
            </li>

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMPANY_OWNER') %}
                {% set pathName = 'rest_api_olx_account_list' %}
                <li class="nav-item">
                    <a class="nav-link{% if currentPathName == pathName %} active{% endif %}"
                       href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
                        <i class="bi bi-people-fill"></i> Olx konta
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMPANY_OWNER') %}
                {% set pathName = 'rest_api_olx_category' %}
                <li class="nav-item">
                    <a class="nav-link{% if currentPathName == pathName %} active{% endif %}"
                       href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
                        <i class="bi bi-diagram-3-fill"></i> Olx kategorie
                    </a>
                </li>
            {% endif %}

        </ul>
    </li>

    {#  Account Items #}
    {% set pathNames = [] %}
    <li class="nav-item">
        <a class="nav-link{% if currentPathName in pathNames %} active{% endif %}"
           href="#mobileAccount" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="mobileAccount">
            <i class="bi bi-person-fill"></i> Konto <i class="bi bi-caret-down-fill"></i>
        </a>
        <ul class="collapse flex-column" id="mobileAccount">

            {% set pathName = 'app_logout' %}
            <li class="nav-item">
                <a class="nav-link{% if currentPathName == pathName %} active{% endif %}"
                   href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
                    Wyloguj
                </a>
            </li>

        </ul>
    </li>

</ul>
