{% set currentPathName = app.request.get('_route') %}

<nav class="navbar navbar-expand-sm fixed-top flex-column navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand fw-bold" href="{{ path('app_home') }}">
            Your<span class="text-gold">Simple</span>Shop
        </a>

        <ul class="navbar-nav me-auto d-none d-sm-flex">
        {% if app.user is not null %}

            {% include 'navbar/main_menu_desktop_items.html.twig' %}

        {% else %}

            {% set pathName = 'app_home' %}
            <li class="nav-item">
                <a class="nav-link{% if currentPathName == pathName %} active{% endif %}"
                   href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
                    <i class="bi bi-house-fill"></i> Home
                </a>
            </li>

            {% set pathName = 'app_login' %}
            <li class="nav-item">
                <a class="nav-link{% if currentPathName == pathName %} active{% endif %}"
                   href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
                    <i class="bi bi-plug-fill"></i> Logowanie
                </a>
            </li>

        {% endif %}
        </ul>

        {# Mobile Navbar Menu #}
        <ul class="navbar-nav ms-auto d-flex d-sm-none">
        {% if app.user is not null %}

            {# Three Dots #}
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#mobileMenuItems" role="button" aria-expanded="false" aria-controls="mobileMenuItems">
                    <i class="bi bi-three-dots-vertical fs-5"></i>
                </a>
            </li>

        {% else %}

            {% set pathName = 'app_login' %}
            <li class="nav-item">
                <a class="nav-link{% if currentPathName == pathName %} active{% endif %}"
                   href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
                    <i class="bi bi-plug-fill"></i> Logowanie
                </a>
            </li>

        {% endif %}
        </ul>

    </div>

    {# Mobile Menu Items #}
    {% if app.user is not null %}
    <div class="collapse align-self-stretch bg-dark" id="mobileMenuItems">
        <div class="bg-dark p-4 d-flex d-sm-none">

            {% include 'navbar/main_menu_mobile_items.html.twig' %}

        </div>
    </div>
    {% endif %}

</nav>
