{% set pathName = 'app_home' %}
<li class="nav-item">
    <a class="nav-link{% if currentPathName == pathName %} active{% endif %}"
       href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
        <i class="bi bi-house-door-fill"></i> Home
    </a>
</li>

{% set pathNames = [] %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle{% if currentPathName in pathNames %} active{% endif %}"
       id="desktopConfiguration" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-gear-fill"></i> Konfiguracja
    </a>
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="desktopConfiguration">

        {#<li><a class="dropdown-item" href="#">Action</a></li>#}
        {#<li><a class="dropdown-item" href="#">Another action</a></li>#}
        {#<li><hr class="dropdown-divider"></li>#}

        {% set pathName = 'list_users' %}
        <li>
            <a class="dropdown-item{% if currentPathName == pathName %} active{% endif %}"
               href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
                <i class="bi bi-people-fill"></i> Użytkownicy
            </a>
        </li>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMPANY_OWNER') %}
            {% set pathName = 'rest_api_olx_account_list' %}
            <li>
                <a class="dropdown-item{% if currentPathName == pathName %} active{% endif %}"
                   href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
                    <i class="bi bi-people-fill"></i> Olx konta
                </a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMPANY_OWNER') %}
            {% set pathName = 'rest_api_olx_category' %}
            <li>
                <a class="dropdown-item{% if currentPathName == pathName %} active{% endif %}"
                   href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
                    <i class="bi bi-diagram-3-fill"></i> Olx kategorie
                </a>
            </li>
        {% endif %}

    </ul>
</li>

{% set pathNames = [] %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle{% if currentPathName in pathNames %} active{% endif %}"
       id="desktopAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-fill"></i> Konto
    </a>
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="desktopAccount">

        {% set pathName = 'app_logout' %}
        <li>
            <a class="dropdown-item{% if currentPathName == pathName %} active{% endif %}"
               href="{% if pathName != '#' %}{{ path(pathName) }}{% else %}#{% endif %}">
                Wyloguj
            </a>
        </li>

    </ul>
</li>
