{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    {% import 'macro/breadcrumbs.html.twig' as breadcrumbs %}
    {{ breadcrumbs.create({
        0: { 'name': 'Kokpit', 'path': path('app_home') },
        1: { 'name': 'Lista użytkowników', 'path': path('list_users') },
        2: { 'name': 'Nowe konto', 'path': null }
    }) }}
{% endblock %}

{% block body %}
<div class="container-fluid g-0">

    <h1 class="text-gold">
        Nowy użytkownik
    </h1>

    <div class="mb-5">
        Wypełnij formularz aby dodać nowego użytkownika do systemu.
    </div>

    <h5 class="mb-4">
        Personalizacja konta
    </h5>

    {{ form_start(userForm) }}

    <div class="row mb-4">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(userForm.login, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(userForm.login, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(userForm.login) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(userForm.firstName, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(userForm.firstName, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(userForm.firstName) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(userForm.lastName, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(userForm.lastName, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(userForm.lastName) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(userForm.roles, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(userForm.roles, {'attr': {'class': 'form-control form-checkbox-padding-top'}}) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(userForm.active, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(userForm.active, {'attr': {'class': 'form-select'}}) }}
            </div>
        </div>
    </div>

    <h5 class="mb-4">
        Hasło
    </h5>

    <div class="row mb-4">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(userForm.plainPassword.first, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(userForm.plainPassword.first) }}
                {{ form_errors(userForm.plainPassword.first) }}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(userForm.plainPassword.second, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(userForm.plainPassword.second) }}
                {{ form_errors(userForm.plainPassword.second) }}
            </div>
        </div>
    </div>

    <h5 class="mb-4">
        Adres-email
    </h5>

    <div class="row mb-4">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(userForm.email.first, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(userForm.email.first) }}
                {{ form_errors(userForm.email.first) }}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(userForm.email.second, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(userForm.email.second) }}
                {{ form_errors(userForm.email.second) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="d-flex justify-content-end">
                {{ form_widget(userForm.submit, {'attr': {'class': 'btn-outline-gold'}}) }}
            </div>
        </div>
    </div>

    {{ form_end(userForm) }}

</div>
{% endblock %}
