{% extends 'base.html.twig' %}

{% import 'pagination/pagination.html.twig' as pagination %}

{% block breadcrumbs %}
    {% import 'macro/breadcrumbs.html.twig' as breadcrumbs %}
    {{ breadcrumbs.create({
        0: { 'name': 'Kokpit', 'path': path('app_home') },
        1: { 'name': 'Lista użytkowników', 'path': null }
    }) }}
{% endblock %}

{% block body %}
<div class="container-fluid g-0">

    <div class="d-flex flex-wrap justify-content-between">
        <h1 class="text-gold">
            Lista użytkowników
        </h1>
        <div class="d-none d-sm-block">
            <a href="{{ path('add_user') }}" class="btn btn-outline-success" role="button">
                Nowy użytkownik
            </a>
        </div>
    </div>

    <div class="d-flex d-sm-none justify-content-end mb-4">
        <a href="{{ path('add_user') }}" class="btn btn-outline-success" role="button">
            Nowy użytkownik
        </a>
    </div>

    <div class="mb-5">
        {{ form_start(filterForm) }}
        <div class="yss-collapse" id="filterCriteria">

            <div class="yss-collapse-title mb-4">
                <div class="me-3">
                    <h5 class="mb-0">
                        Opcje filtrowania
                        [<a href="#" class="link yss-collapse-link"
                            data-yss-id="filterCriteria"
                            data-yss-form-id="user_list"
                            data-yss-expanded="false">Ukryj</a>]
                    </h5>
                </div>
            </div>

            <div class="yss-collapse-body">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4 mb-4">
                        <div class="yss-form-label-container">
                            {{ form_label(filterForm.sortColumn) }}
                            {{ form_widget(filterForm.sortColumn) }}
                            {{ form_errors(filterForm.sortColumn) }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
                    <div class="col-12 col-sm-6 col-lg-4 mb-4">
                        <div class="yss-form-label-container">
                            {{ form_label(filterForm.sortMethod) }}
                            {{ form_widget(filterForm.sortMethod) }}
                            {{ form_errors(filterForm.sortMethod) }}
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 mb-4">
                        <div class="yss-form-label-container">
                            {{ form_label(filterForm.itemsPerPage) }}
                            {{ form_widget(filterForm.itemsPerPage) }}
                            {{ form_errors(filterForm.itemsPerPage) }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
                    <div class="col-12 col-lg-8 mb-4">
                        <div class="d-flex justify-content-end">
                            {{ form_widget(filterForm.submit) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{ form_end(filterForm) }}
    </div>

    <div class="mb-4">
        {{ pagination.pageBar('list_users', currentPage, lastPage) }}
    </div>

    {% for user in userList %}
        <div class="card{% if loop.last %} mb-4{% else %} mb-3{% endif %}">

            <div class="card-header bg-transparent fs-5 fw-bold">
                <span class="text-gold">{{ user.login }}</span> - {{ user.email }}
            </div>

            <div class="card-body">

                <div class="row flex-column flex-sm-row mb-3">
                    <div class="col-12">
                        <div class="fw-bold mb-1 mb-sm-0">
                            {{ user.firstName }} {{ user.lastName }}
                        </div>
                    </div>
                </div>

                <div class="row flex-column flex-sm-row mb-3">
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="mb-1 mb-sm-0">
                            Aktywne
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-lg-9">
                        <div class="ms-3 ms-sm-0">
                            {{ user.active ? 'Tak' : 'Nie' }}
                        </div>
                    </div>
                </div>

                <div class="row flex-column flex-sm-row mb-3">
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="mb-1 mb-sm-0">
                            Uprawnienia
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-lg-9">
                        <div class="ms-3 ms-sm-0">
                            {% for role in user.roles %}
                                {{ loop.last ? role : role ~ ', ' }}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row flex-column flex-sm-row">
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="mb-1 mb-sm-0">
                            Ostatnie logowania
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-lg-9">
                        <div class="ms-3 ms-sm-0">
                            <div>{{ user.lastLogin1|date('d-m-Y H:i:s') }}</div>
                            <div>{{ user.lastLogin2|date('d-m-Y H:i:s') }}</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card-footer bg-transparent d-flex justify-content-end py-3">
                <a href="{{ path('edit_user', {'userId': user.id}) }}"
                   class="btn btn-sm btn-outline-success me-1" role="button">Edytuj</a>
                <a href="{{ path('delete_user', {'userId': user.id}) }}"
                   class="btn btn-sm btn-outline-danger ms-1" role="button">Usuń</a>
            </div>

        </div>
    {% endfor %}

    {{ pagination.pageBar('list_users', currentPage, lastPage) }}

</div>
{% endblock %}
