{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('layout/css/login.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid d-flex justify-content-center g-0">
    <div class="login-form-container mt-4">

        {{ form_start(loginForm) }}

        <div class="login-form-logo">
            Your<span class="text-gold">Simple</span>Shop
        </div>
        {% if authErrorMessage %}
            <div class="alert alert-danger d-flex align-items-center mb-5" role="alert" style="margin-top: -1rem;">
                <i class="bi-exclamation-triangle-fill me-2 fs-5"></i>{{ authErrorMessage }}
            </div>
        {% endif %}
        <div class="yss-form-label-container mb-4">
            {{ form_label(loginForm.login, null, {'label_attr': {'class': 'yss-form-label'}}) }}
            {{ form_widget(loginForm.login, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="yss-form-label-container mb-4">
            {{ form_label(loginForm.password, null, {'label_attr': {'class': 'yss-form-label'}}) }}
            {{ form_widget(loginForm.password, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="d-flex justify-content-end mb-4">
            {{ form_widget(loginForm.loginFormSubmit, {'attr': {'class': 'btn-outline-gold'}}) }}
        </div>
        <div class="d-flex justify-content-end">
            <a class="link" href="{{ path('app_recover_password') }}">Zapomniałeś/aś hasło? - Odzyskaj je!</a>
        </div>

        {{ form_widget(loginForm._token, {value: csrf_token('authenticate')}) }}

        {{ form_end(loginForm) }}

    </div>
</div>
{% endblock %}
