{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('layout/css/login.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid d-flex justify-content-center g-0">
    <div class="login-form-container mt-4">

        {{ form_start(recoverPasswordForm) }}

        <div class="login-form-logo">
            Your<span class="text-gold">Simple</span>Shop
        </div>
        {% if flashBag is not null %}
            <div class="alert alert-{{ flashBag.type }} d-flex align-items-center mb-5" role="alert" style="margin-top: -1rem;">
                <i class="bi-exclamation-triangle-fill me-2 fs-5"></i> {{ flashBag.message }}
            </div>
        {% endif %}
        <div class="mb-5" style="margin-top: -1rem;">
            Wypełnij formularz w celu odzyskania hasła do konta.
        </div>
        <div class="yss-form-label-container mb-4">
            {{ form_label(recoverPasswordForm.login, null, {'label_attr': {'class': 'yss-form-label'}}) }}
            {{ form_widget(recoverPasswordForm.login, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(recoverPasswordForm.login) }}
        </div>
        <div class="yss-form-label-container mb-4">
            {{ form_label(recoverPasswordForm.email, null, {'label_attr': {'class': 'yss-form-label'}}) }}
            {{ form_widget(recoverPasswordForm.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(recoverPasswordForm.email) }}
        </div>
        <div class="d-flex justify-content-end mb-4">
            {{ form_widget(recoverPasswordForm.submit, {'attr': {'class': 'btn-outline-gold'}}) }}
        </div>
        <div class="d-flex justify-content-end">
            <a class="link" href="{{ path('app_login') }}">Wróć do logowania</a>
        </div>

        {{ form_end(recoverPasswordForm) }}

    </div>
</div>
{% endblock %}
