{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    {% import 'macro/breadcrumbs.html.twig' as breadcrumbs %}
    {{ breadcrumbs.create({
        0: { 'name': 'Kokpit', 'path': path('app_home') },
        1: { 'name': 'Lista użytkowników', 'path': path('list_users') },
        2: { 'name': 'Edytuj konto', 'path': null }
    }) }}
{% endblock %}

{% block body %}
<div class="container-fluid g-0">

    <h1 class="text-gold">
        Edycja użytkownika
    </h1>

    <div class="mb-5">
        Tutaj możesz zmienić podstawowe informacje o użytkowniku.
    </div>

    <h5 class="mb-4">
        Personalizacja konta
    </h5>

    {{ form_start(editUserBasicForm) }}

    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editUserBasicForm.firstName, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editUserBasicForm.firstName, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(editUserBasicForm.firstName) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editUserBasicForm.lastName, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editUserBasicForm.lastName, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(editUserBasicForm.lastName) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editUserBasicForm.roles, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editUserBasicForm.roles, {'attr': {'class': 'form-control form-checkbox-padding-top'}}) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editUserBasicForm.active, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editUserBasicForm.active, {'attr': {'class': 'form-select'}}) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="d-flex justify-content-end">
                {{ form_widget(editUserBasicForm.submit, {'attr': {'class': 'btn-outline-gold'}}) }}
            </div>
        </div>
    </div>

    {{ form_end(editUserBasicForm) }}

    <h5 class="mb-4">
        Adres e-mail
    </h5>

    {{ form_start(editEmailForm) }}

    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editEmailForm.email.first, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editEmailForm.email.first) }}
                {{ form_errors(editEmailForm.email.first) }}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editEmailForm.email.second, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editEmailForm.email.second) }}
                {{ form_errors(editEmailForm.email.second) }}
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block"></div>
        <div class="col-12 col-lg-8 mb-4">
            <div class="d-flex justify-content-end">
                {{ form_widget(editEmailForm.submit, {'attr': {'class': 'btn-outline-gold'}}) }}
            </div>
        </div>
    </div>

    {{ form_end(editEmailForm) }}

    <h5 class="mb-4">
        Hasło
    </h5>

    {{ form_start(editPasswordForm) }}

    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editPasswordForm.plainPassword.first, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editPasswordForm.plainPassword.first) }}
                {{ form_errors(editPasswordForm.plainPassword.first) }}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editPasswordForm.plainPassword.second, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editPasswordForm.plainPassword.second) }}
                {{ form_errors(editPasswordForm.plainPassword.second) }}
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block"></div>
        <div class="col-12 col-lg-8">
            <div class="d-flex justify-content-end">
                {{ form_widget(editPasswordForm.submit, {'attr': {'class': 'btn-outline-gold'}}) }}
            </div>
        </div>
    </div>

    {{ form_end(editPasswordForm) }}

</div>
{% endblock %}
