{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    {% import 'macro/breadcrumbs.html.twig' as breadcrumbs %}
    {{ breadcrumbs.create({
        0: { 'name': 'Kokpit', 'path': path('app_home') },
        1: { 'name': 'Konta Olx', 'path': path('rest_api_olx_account_list') },
        2: { 'name': 'Nowe konto', 'path': null }
    }) }}
{% endblock %}

{% block body %}
<div class="container-fluid g-0">

    <h1 class="text-gold">
        Nowe konto Olx
    </h1>

    <div class="mb-5">
        Wypełnij formularz aby dodać nowe konto olx do systemu. Tokeny są opcjonalne, nie musisz ich teraz wypełniać.
        Można to zrobić podczas łączenia konta w aplikacji z kontem olx.pl
    </div>

    {{ form_start(olxAccountForm) }}

    <h5 class="mb-4">
        Dane podstawowe
    </h5>

    <div class="row mb-4">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(olxAccountForm.name, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(olxAccountForm.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(olxAccountForm.name) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(olxAccountForm.clientId, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(olxAccountForm.clientId, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(olxAccountForm.clientId) }}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(olxAccountForm.clientSecret, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(olxAccountForm.clientSecret, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(olxAccountForm.clientSecret) }}
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(olxAccountForm.redirectUrl, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(olxAccountForm.redirectUrl, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(olxAccountForm.redirectUrl) }}
            </div>
        </div>
    </div>

    <h5 class="mb-4">
        Tokeny (opcjonalnie)
    </h5>

    <div class="row mb-4">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(olxAccountForm.refreshToken, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(olxAccountForm.refreshToken, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(olxAccountForm.refreshToken) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(olxAccountForm.accessToken, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(olxAccountForm.accessToken, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(olxAccountForm.accessToken) }}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container input-group">
                {{ form_label(olxAccountForm.accessTokenExpiryAt, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(olxAccountForm.accessTokenExpiryAt, {'attr': {'class': 'form-control'}}) }}
                <span class="input-group-text">
                    <i class="bi bi-calendar3"></i>
                </span>
                {{ form_errors(olxAccountForm.accessTokenExpiryAt) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="d-flex justify-content-end">
                {{ form_widget(olxAccountForm.submit, {'attr': {'class': 'btn-outline-gold'}}) }}
            </div>
        </div>
    </div>

    {{ form_end(olxAccountForm) }}

</div>
{% endblock %}
