{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    {% import 'macro/breadcrumbs.html.twig' as breadcrumbs %}
    {{ breadcrumbs.create({
        0: { 'name': 'Kokpit', 'path': path('app_home') },
        1: { 'name': 'Konta Olx', 'path': path('rest_api_olx_account_list') },
        2: { 'name': 'Usuń konto', 'path': null }
    }) }}
{% endblock %}

{% block body %}
<div class="container-fluid g-0">

    <h1 class="text-gold">
        Usuwanie konta Olx
    </h1>

    <div class="mb-4">
        Czy na pewno chcesz usunąć konto <b>{{ olxAccount.name }}</b> ?
        <br>
        Operacja jest nieodwracalna
    </div>

    {{ form_start(form) }}

    <div class="d-flex">
        <div class="me-2">
            {{ form_widget(form.delete, {'attr': {'class': 'btn-outline-danger'}}) }}
        </div>
        <div class="ms-2">
            {{ form_widget(form.goBack, {'attr': {'class': 'btn-outline-gold'}}) }}
        </div>
    </div>

    {{ form_end(form) }}

</div>
{% endblock %}
