{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    {% import 'macro/breadcrumbs.html.twig' as breadcrumbs %}
    {{ breadcrumbs.create({
        0: { 'name': 'Kokpit', 'path': path('app_home') },
        1: { 'name': 'Konta Olx', 'path': path('rest_api_olx_account_list') },
        2: { 'name': 'Edytuj konto', 'path': null }
    }) }}
{% endblock %}

{% block body %}
<div class="container-fluid g-0">

    <h1 class="text-gold">
        Edycja konta Olx
    </h1>

    <div class="mb-5">
        Tutaj możesz zaktualizować dane o koncie i tokenach.
    </div>

    <h5 class="mb-4">
        Dane podstawowe
    </h5>

    {{ form_start(editOlxAccountBasicForm) }}

    <div class="row mb-4">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editOlxAccountBasicForm.name, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editOlxAccountBasicForm.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(editOlxAccountBasicForm.name) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editOlxAccountBasicForm.clientId, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editOlxAccountBasicForm.clientId, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(editOlxAccountBasicForm.clientId) }}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editOlxAccountBasicForm.clientSecret, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editOlxAccountBasicForm.clientSecret, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(editOlxAccountBasicForm.clientSecret) }}
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editOlxAccountBasicForm.redirectUrl, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editOlxAccountBasicForm.redirectUrl, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(editOlxAccountBasicForm.redirectUrl) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-lg-8 mb-4">
            <div class="d-flex justify-content-end">
                {{ form_widget(editOlxAccountBasicForm.submit, {'attr': {'class': 'btn-outline-gold'}}) }}
            </div>
        </div>
    </div>

    {{ form_end(editOlxAccountBasicForm) }}

    <h5 class="mb-4">
        Tokeny (opcjonalnie)
    </h5>

    {{ form_start(editOlxAccountTokensForm) }}

    <div class="row mb-4">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editOlxAccountTokensForm.refreshToken, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editOlxAccountTokensForm.refreshToken, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(editOlxAccountTokensForm.refreshToken) }}
            </div>
        </div>
        <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container">
                {{ form_label(editOlxAccountTokensForm.accessToken, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editOlxAccountTokensForm.accessToken, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(editOlxAccountTokensForm.accessToken) }}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="yss-form-label-container input-group">
                {{ form_label(editOlxAccountTokensForm.accessTokenExpiryAt, null, {'label_attr': {'class': 'yss-form-label'}}) }}
                {{ form_widget(editOlxAccountTokensForm.accessTokenExpiryAt, {'attr': {'class': 'form-control'}}) }}
                <span class="input-group-text">
                    <i class="bi bi-calendar3"></i>
                </span>
                {{ form_errors(editOlxAccountTokensForm.accessTokenExpiryAt) }}
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="d-flex justify-content-end">
                {{ form_widget(editOlxAccountTokensForm.submit, {'attr': {'class': 'btn-outline-gold'}}) }}
            </div>
        </div>
    </div>

    {{ form_end(editOlxAccountTokensForm) }}

</div>
{% endblock %}
