{% extends 'base.html.twig' %}

{% import 'pagination/pagination.html.twig' as pagination %}

{% block breadcrumbs %}
    {% import 'macro/breadcrumbs.html.twig' as breadcrumbs %}
    {{ breadcrumbs.create({
        0: { 'name': 'Kokpit', 'path': path('app_home') },
        1: { 'name': 'Konta Olx', 'path': null }
    }) }}
{% endblock %}

{% block body %}
<div class="container-fluid g-0">

    <div class="d-flex flex-wrap justify-content-between">
        <h1 class="text-gold">
            Lista kont Olx
        </h1>
        <div class="d-none d-sm-block">
            <a href="{{ path('rest_api_olx_account_add') }}" class="btn btn-outline-success" role="button">
                Nowe konto Olx
            </a>
        </div>
    </div>

    <div class="d-flex d-sm-none justify-content-end mb-4">
        <a href="{{ path('rest_api_olx_account_add') }}" class="btn btn-outline-success" role="button">
            Nowe konto Olx
        </a>
    </div>

    <div class="mb-5">
        {{ form_start(filterForm) }}
        <div class="yss-collapse" id="filterCriteria">

            <div class="yss-collapse-title mb-4">
                <div class="me-3">
                    <h5 class="mb-0">
                        Opcje filtrowania
                        [<a href="#" class="link yss-collapse-link"
                            data-yss-id="filterCriteria"
                            data-yss-form-id="account_list"
                            data-yss-expanded="false">Ukryj</a>]
                    </h5>
                </div>
            </div>

            <div class="yss-collapse-body">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4 mb-4">
                        <div class="yss-form-label-container">
                            {{ form_label(filterForm.sortColumn) }}
                            {{ form_widget(filterForm.sortColumn) }}
                            {{ form_errors(filterForm.sortColumn) }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
                    <div class="col-12 col-sm-6 col-lg-4 mb-4">
                        <div class="yss-form-label-container">
                            {{ form_label(filterForm.sortMethod) }}
                            {{ form_widget(filterForm.sortMethod) }}
                            {{ form_errors(filterForm.sortMethod) }}
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 mb-4">
                        <div class="yss-form-label-container">
                            {{ form_label(filterForm.itemsPerPage) }}
                            {{ form_widget(filterForm.itemsPerPage) }}
                            {{ form_errors(filterForm.itemsPerPage) }}
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-8 d-none d-sm-block"></div>
                    <div class="col-12 col-lg-8 mb-4">
                        <div class="d-flex justify-content-end">
                            {{ form_widget(filterForm.submit) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{ form_end(filterForm) }}
    </div>

    <div class="mb-4">
        {{ pagination.pageBar('rest_api_olx_account_list', currentPage, lastPage) }}
    </div>

    {% for account in accountList %}
        <div class="card{% if loop.last %} mb-4{% else %} mb-3{% endif %}">

            <div class="card-header bg-transparent fs-5 fw-bold">
                <span class="text-gold">{{ account.name }}</span>
            </div>

            <div class="card-body">

                <div class="row flex-column flex-sm-row mb-3">
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="mb-1 mb-sm-0">
                            Client Id
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-lg-9">
                        <div class="ms-3 ms-sm-0">
                            {{ account.clientId }}
                        </div>
                    </div>
                </div>

                <div class="row flex-column flex-sm-row mb-3">
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="mb-1 mb-sm-0">
                            Client Secret
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-lg-9">
                        <div class="ms-3 ms-sm-0">
                            {% set length = account.clientSecret|length %}
                            {% if length > 20  %}
                                {{ account.clientSecret|slice(0, 10) }} ...
                                {{ account.clientSecret|slice(length - 10, 10) }}
                            {% else %}
                                {{ account.clientSecret }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row flex-column flex-sm-row mb-3">
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="mb-2 mb-sm-0">
                            Redirect Url
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-lg-9">
                        <div class="ms-3 ms-sm-0">
                            {{ account.redirectUrl }}
                        </div>
                    </div>
                </div>

                <div class="row flex-column flex-sm-row mb-3">
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="mb-1 mb-sm-0">
                            Refresh Token
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-lg-9">
                        <div class="ms-3 ms-sm-0">
                            {% set length = account.refreshToken|length %}
                            {% if length > 20  %}
                                {{ account.refreshToken|slice(0, 10) }} ...
                                {{ account.refreshToken|slice(length - 10, 10) }}
                            {% else %}
                                {{ account.refreshToken }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row flex-column flex-sm-row mb-3">
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="mb-1 mb-sm-0">
                            Access Token
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-lg-9">
                        <div class="ms-3 ms-sm-0">
                            {% set length = account.accessToken|length %}
                            {% if length > 20  %}
                                {{ account.accessToken|slice(0, 10) }} ...
                                {{ account.accessToken|slice(length - 10, 10) }}
                            {% else %}
                                {{ account.accessToken }}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row flex-column flex-sm-row">
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="mb-1 mb-sm-0">
                            Ważność AT
                        </div>
                    </div>
                    <div class="col-12 col-sm-8 col-lg-9">
                        <div class="ms-3 ms-sm-0">
                            {{ account.expiryAt ? account.expiryAt|date('Y-m-d H:i:s') : '' }}
                        </div>
                    </div>
                </div>

            </div>

            <div class="card-footer bg-transparent d-flex justify-content-end py-3">
                {% set isAuthorized = account.accessToken ? true : false %}
                {% if isAuthorized == false %}
                    <a href="{{ path('rest_api_olx_auth_connect', {'accountId': account.id}) }}"
                        class="btn btn-sm btn-outline-primary me-1" role="button">Autoryzacja</a>
                {% else %}
                    <a href="{{ path('rest_api_olx_auth_refresh_tokens', {'accountId': account.id}) }}"
                       class="btn btn-sm btn-outline-primary me-1" role="button">Odśwież tokeny</a>
                {% endif %}
                <a href="{{ path('rest_api_olx_account_edit', {'accountId': account.id}) }}"
                   class="btn btn-sm btn-outline-success ms-1 me-1" role="button">Edytuj</a>
                <a href="{{ path('rest_api_olx_account_delete', {'accountId': account.id}) }}"
                   class="btn btn-sm btn-outline-danger ms-1" role="button">Usuń</a>
            </div>

        </div>
    {% endfor %}

    {{ pagination.pageBar('rest_api_olx_account_list', currentPage, lastPage) }}

</div>
{% endblock %}
