{% macro pageBar(url = '', currentPage = 1, lastPage = 1) %}

<div class="d-flex flex-row justify-content-end align-items-end page-bar">
    <a href="{{ path(url, {'page': 1}) }}" class="btn btn-outline-gold me-1" style="width: 35px" role="button">«</a>
    <a href="{% if currentPage > 1 %}{{ path(url, {'page': currentPage - 1}) }}{% else %}{{ path(url, {'page': currentPage}) }}{% endif %}" class="btn btn-outline-gold me-1" style="width: 35px" role="button">‹</a>
    <div class="yss-form-label-container ms-1 me-1">
        <label class="yss-form-label" for="go_to_page">Strona</label>
        <input type="text" name="page_bar_value" style="width: 75px" class="form-control form-control page-bar-value" value="{{ currentPage }}">
    </div>
    <a href="#" class="btn btn-outline-gold me-1 page-bar-submit" data-url="{{ path('list_users') }}" data-current-page="{{ currentPage }}" data-last-page="{{ lastPage  }}" role="button">Idź</a>
    <a href="{% if currentPage < lastPage %}{{ path(url, {'page': currentPage + 1}) }}{% else %}{{ path(url, {'page': currentPage}) }}{% endif %}" class="btn btn-outline-gold me-1" style="width: 35px" role="button">›</a>
    <a href="{{ path(url, {'page': lastPage}) }}" class="btn btn-outline-gold me-1" style="width: 35px" role="button">»</a>
</div>

{% endmacro %}
