<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Your simple shop is where your business starts{% endblock %}</title>

        {# Google Font - Ubuntu#}
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700" rel="stylesheet">

        {# Bootstrap 5.0.1 CSS #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        {# TempusDominus DateTimePicker CSS - Requires FontAwesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/6-alpha1/css/tempus-dominus.css" integrity="sha512-9HGyGjBIzf72Z1GSkJ/xKx5sPG2GFhOkCwzVz0RBFLJK5Kx9TkKa2FHxOiZH5a6R7/B9voHRow5SfGE4dLqX1Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Application styles #}
        <link rel="stylesheet" href="{{ asset('layout/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('layout/css/alert.css') }}">
        <link rel="stylesheet" href="{{ asset('layout/css/breadcrumb.css') }}">
        <link rel="stylesheet" href="{{ asset('layout/css/form.css') }}">
        <link rel="stylesheet" href="{{ asset('layout/css/navbar.css') }}">
        {% block stylesheets %}{% endblock %}

        {# jQuery 3.6.0 #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# Bootstrap 5.0.1 JS #}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

        {# TempusDominus DateTimePicker JS #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/6-alpha1/js/tempus-dominus.js" integrity="sha512-15HbYe7uRqZE6ULvrGFwK/gaZj8MTd08jKpsxFGqK/cQ0iPukrm1AbPtTn/sdC3Dj7qz8Ug0emmhQVKhwjpidQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/6-alpha1/js/jQuery-provider.js" integrity="sha512-0zZ9Szi/LEO7YhGtr5hUqrybN3UxTFxSrrJ2nIb0H02cSQnVgyUokybU3mV3RFJEIaCE7pcbBiaEEsc4ZBVn2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {# Application jquery / js #}
        <script src="{{ asset('layout/js/yss-collapse.js') }}"></script>
        <script src="{{ asset('layout/js/paginator.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>

        {% include 'navbar/main_menu.html.twig' %}

        <div class="d-flex flex-column w-100 max-w1400">
            {% for flashType, flashMessages in app.flashes %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-main alert-{{ flashType }} alert-dismissible d-flex align-items-center fade show" role="alert">
                        <span>
                            {{ flashMessage|striptags('<div><span><strong><b><i><a>')|raw }}
                        </span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block breadcrumbs %}{% endblock %}

            {% block body %}{% endblock %}
        </div>

    </body>
</html>
