<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700" rel="stylesheet">
    <style>
        a.link,
        a.link:link,
        a.link:visited,
        a.link:hover,
        a.link:active {
            color: #e6b800;
            text-decoration: none;
        }
    </style>
</head>
<body style="color: #000000; font-family: 'Ubuntu', sans-serif; font-size: 15px;">
    <h1 style="font-size: 1.6rem; margin-bottom: 1.7rem;">
        <b>Witaj {{ firstName }}!</b>
    </h1>
    <p style="margin-bottom: 1.4rem;">
        Jeśli chciałbyś wygenerować hasło do swojego konta, kliknij w link poniżej.<br>
        Jeśli to nie Ty, po prostu zignoruj tą wiadomość.
    </p>
    <p style="display: block; margin-left: 1rem; margin-bottom: 1.4rem;">
        <a href="{{ createPasswordUrl }}" class="link">
            Tak, chcę wygenerować nowe hasło
        </a>
    </p>
    <p style="margin: 0">
        Link wygaśnie w <b>ciągu 24h</b>.
    </p>
    <div style="width: 210px; margin-top: 2.1rem; margin-bottom: 1rem;">
        <hr style="border: none; border-bottom: solid 1px #ced4da;">
    </div>
    <p style="color: #000000; font-size: 1.2rem; font-weight: bold; margin: 0 0.8rem;">
        Your<span style="color: #e6b800">Simple</span>Shop
    </p>
</body>
</html>
