Witaj {{ firstName }}

Jeśli chciałbyś wygenerować hasło do swojego konta, przejdź pod link poniżej.
Jeśli to nie Ty, po prostu zignoruj tą wiadomość.

{{ createPasswordUrl }}

Link wygaśnie w ciągu 24 godzin.

--------------
YourSimpleShop
