{% macro create(breadcrumbList) %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbList %}
                {% if loop.last %}
                    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb.path }}" class="link">{{ breadcrumb.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endmacro %}
